* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #fff;
  background: #92bde7;
  /* overflow: hidden; */
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

.form .form-group {
  margin: 1.2rem 0;
  color: rgb(185, 226, 240);
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.btn {
  display: inline-block;
  background: #fff;
  color: black;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btn:hover {
  opacity: 0.8;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.alert-success {
  background: #28a745;
  color: #fff;
  width: 50%;
  padding: 0.5rem;
}

.alert-danger {
  background: #dc3545;
  color: #fff;
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
}

@media (max-width: 700px) {
  .container {
    margin-top: 6rem;
  }

  .hide-sm {
    display: none;
  }

  .large {
    font-size: 2rem;
  }
}
